<!-- games: IGame[] -->
<div class="list-container">
  <h2>Ongoing Games</h2>
  <ul>
    <li [ngClass]="{ selected: this.selectedGame && game.id === this.selectedGame.id }"
        *ngFor="let game of ongoingGames"
        (click)="showGame(game)">
      <div *ngIf="game.humanMovesFirst" class="primary">You started</div>
      <div *ngIf="!game.humanMovesFirst" class="primary">Computer started</div>
      <div *ngIf="game.winner === undfefined" class="secondary">{{ game.numberOfMoves() }} moves made</div>
      <div *ngIf="game.winner !== undfefined" class="secondary">Game over</div>
    </li>
  </ul>
  <h2>Finished Games</h2>
  <ul>
    <li [ngClass]="{ selected: this.selectedGame && game.id === this.selectedGame.id }"
        *ngFor="let game of finishedGames"
        (click)="showGame(game)">
      <span class="deleter" (click)="deleteGame(game, $event)">×</span>
      <div *ngIf="game.humanMovesFirst" class="primary">You started</div>
      <div *ngIf="!game.humanMovesFirst" class="primary">Computer started</div>
      <div *ngIf="game.winner === undfefined" class="secondary">{{ game.numberOfMoves() }} moves made</div>
      <div *ngIf="game.winner !== undfefined" class="secondary">Game over</div>
    </li>
  </ul>
</div>
<app-game-board [selectedGame]="selectedGame"></app-game-board>
