:host {
  display: flex;
}

.list-container {
  flex: 0 0 250px;
}

h2 {
  margin: 32px 0 0 16px;
  font-size: 14px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  border: 0;
  border-left: 4px solid transparent;
  cursor: pointer;
  margin: 8px 0;
  padding: 0 16px;
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.selected {
  border-left-color: #ff8a80;
}

.primary {
  font-size: 16px;
}

.secondary {
  color: rgba(0, 0, 0, .6);
}

.deleter {
  position: absolute;
  right: 8px;
  top: 16px;
  width: 24px;
  height: 24px;
  font-size: 18px;
  text-align: center;
}

.deleter:hover {
  background-color: rgba(0, 0, 0, .2);
}
